<div ng-controller="CategoryEditCtrl">
  <h1>Edit Category</h1>
  <form ng-submit="updateCategory()">
  <div class="form-group">
    <label>Category Name</label>
    <input type="text" class="form-control" ng-model="category.name" name="name" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" ng-model="category.description" name="description" placeholder="Enter description"></textarea>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
  <a class="btn btn-danger" href="/#categories">Cancel</a>
</form>
</div>